
/* makes makes each row taller */
.fc-timegrid-slot {
    height: 3em !important;
    border-bottom: 0 !important;
}

/* removes the border around the entire calendar */
.fc-scrollgrid {
    border: 0px !important;
}

/* aligns all the times to the top of cell */
.fc-timegrid-slot-label {
    vertical-align: top !important;
    border: 0px !important;
}

.fc-timegrid-slot-label-frame {
    position: relative !important;
    top: -0.75rem !important;
}

/* reduces the height of the all day row */
.fc-daygrid-day-events {
    min-height: 0 !important;
}

/* removes the border of the entire top header */
.fc-theme-standard th {
    border:0px !important;
}

/* removes the divider between header and the time rows */
.fc-timegrid-divider {
    display: none !important;
}

/* reduces the margin between the button tool bar and rest of calendar */
.fc-header-toolbar {
    margin-bottom: .5em !important;
}